:root {
    --color: #212529;
    --color-white: #f8f9fa;
    --border: #868e96;
    --bg-color: whitesmoke;
    --a-link-color: #1864ab;
    --a-visited-color: #862e9c;
    --a-active-color: #c92a2a;
    --page-max-width: 1000px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  pre,
  code,
  dl,
  dd {
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    max-width: var(--page-max-width);
    min-height: 100vh;
    line-height: 1.5;
    font-family: "Hiragino Mincho Pro", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", Meiryo,
      sans-serif;
    color: var(--color);
    margin: auto;
  
    display: flex;
    flex-direction: column;
  }

  a {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
  }

  a, a:link {
    color: var(--a-link-color);
  }

  a:visited {
    color: var(--a-visited-color);
  }

  a:active {
    color: var(--a-active-color);
  }
  
  #page-header {
    padding: 1rem;
    font-weight: 600;
    flex-shrink: 0;
  }
  
  #page-footer {
    border-top: solid 1px var(--border);
    padding: 1rem;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  
  #page-header a,
  #page-footer a,
  .summary-header a {
    text-decoration: none;
    color: var(--color);
  }
  
  main {
    padding: 2vh 1rem;
    flex-grow: 0.8;
  }

  article.photo-frame {
    position: relative;
    width: fit-content;
    max-width: min(100%,960px);
    margin: auto;
    margin-bottom: 3rem;
    isolation: isolate;
  }

  header.photo-header {
    position: absolute;
    font-size: min(4vw,2em);
    mix-blend-mode:hard-light;
  }

  header.light {
    color: #d0d0d0;
  }

  header.dark {
    color:#303030
  }

  p.published {
    font-size: min(2vw,0.5em);
  }

  a.photo > img,
  a.photo > picture {
    max-width: min(100%,960px);
    display: block;
    margin: 0;
  }

  main > nav {
    margin-top: 2em;
  }
  
  main > section {
    margin-bottom: 2em;
  }
  
  section > header {
    margin-top: 1.5em;
  }
  
  section > footer {
    margin-top: 1.5em;
  }
  
  img,
  picture {
    max-width: min(100%,960px);
    display: block;
    margin: 1em auto;
  }
  
  div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    margin: 1em auto;
  }
  
  div.gallery > img {
    max-width: 210px;
    margin: 0;
  }
  
  pre > code {
    padding: 1em;
    display: block;
    overflow-x: auto;
    font-family: Monaco, Consolas, Courier New, Courier, monospace, sans-serif;
  }
  
  blockquote {
    padding: 1em;
    border-left: 0.05em solid var(--border);
  }
  
  hr {
    border: none;
    border-top: 1px solid var(--border);
  }
  
  code {
    margin: 0 0.1em;
    padding: 0.05em 0.4em;
    border-radius: 3px;
    background-color: var(--bg-color);
  }
  
  ul {
    list-style-type: '-';
    padding-inline-start: 1em;
  }
  
  ul.flex {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    flex-wrap: wrap;
  }
  
  li {
    line-height: 1.8;
    padding-left: 1em;
  }
  
  .pagination {
    margin-top: 2rem;
    text-align: center;
  }
  
  .pagination a {
    display: inline-block;
    width: 1.5rem;
    text-align: center;
    color: var(--color);
  }
  
  .pagination a[aria-current="page"] {
    background-color: var(--color);
    color: var(--bg-color);
  }