{{- $eyecatch_photo := findRE "<img.*?src=([^>]*)?>" .Content 1 -}}
{{ if $eyecatch_photo }}
  <article class="photo-frame">
    <a class="photo" href="{{ .RelPermalink }}">
      <header
        class="photo-header {{ .Params.theme|default "light" }}"
        style="{{ range $key, $value := .Params.styles -}}{{ $key }}:{{ $value }};{{- end }}"
      >
        <h2 class="caption">{{ .Title }}</h2>
        <p class="published">{{ .PublishDate.Format "2006-01-02" }}&nbsp;</p>
      </header>
      {{- range $eyecatch_photo }}{{ . | safeHTML }}{{- end -}}</a
    >
  </article>
{{ end }}
